body
{
	background-color: #fafbfd;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}

input
{
	width: 10%;
	padding: 15px;
	font-size: 20px;

}

h2
{
	font-size: 50px;
}

body {
	font-family: Arial, sans-serif;
	background-color: white;
	margin: 40px;
	color: #5b676e
}


table {
	width: 80%;
	margin: 20px auto;
	border-collapse: collapse;
	box-shadow: 0 2px 10px #020305;
	font-size: 15px;
	
}

th, td {
	border: 1px solid black;
	padding: 12px;
	text-align: center;
}

th {
	background-color: #7985c3;
	color: white;
	
}

Button 
{
	background-color: #f1f3fd;
	font-size:30px;
}
