body {
		background: white;
		
}

.square {

    height: 250px;
    background-color: white;
    width: 80%;
	padding: 20px;
	border: 1px solid #2a7ed5;
	border-radius: 2px;
	font-size: 14px;

}
