body
{
	background-color: #fbfbfb;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}

label
{
	display:display-center;
	gap: 5px;
	margin: 0 5px;
	color: #000000;

	
}

input
{
	width: 20%;
	padding: 0px;
	font-size: 20px;

}

button:hover
{
	background-color: #99a0a5;
	padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
	
}

h4
{
	position: absolute;
	left: 50px;
	top: 250px;
}
