body
{
	background-color: #C2A68C;
	justify-content: center;
	align-items: center;
	text-align: center;


	
}

label
{
	display:display-center;
	gap: 10px;
	margin: 0 5px;
	color: #5D866C;
	
	
	
}

input
{
	width: 20%;
	padding: 0px;
	border: 0px solid rgb(255, 255, 255);
	border-radius: 0px;
	font-size: 14px;
}

button:hover
{
	background-color: #5D866C;
	color: #56ce9b;
	
}
