body
{
	background-color: #B7B89F;
	justify-content: center;
	align-items: center;
	text-align: center;


	
}

label
{
	display:display-center;
	gap: 15px;
	margin: 0 5px;
	color: #000000;
	
	
	
}

input
{
	width: 20%;
	padding: 0px;
	font-size: 20px;

}

button:hover
{
	background-color: #777C6D;
	color: #777C6D;
	padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
	
}
