body{
	align-items: center;
	text-align: center;
	justify-content: center;
	background: #FFF8EC;
	
}

.info {
	
	background: #99AD7A;
	border: 1px solid #546B41;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin: 100px;
	width: 25%;
	box-shadow: 5px 8px 10px #717e8f;
}

.sched {
	background: #99AD7A;
	border: 1px solid #546B41;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin: 100px;
	width: 25%;
	box-shadow: 5px 8px 10px #717e8f;
}



table {
	background: white;
	margin-top:10px;
	justify-content: center;
    align-items: center;
	text-align: center;
	width: 20%;
	box-shadow: 0 2px 5px #717e8f;

	
}
th, td {
	
	border: 1px solid #546B41;
	padding: 12px;
	text-align: center;
	justify-content: center;
    align-items: center;
}

th {
	background-color: 99AD7A;
	justify-content: center;
    align-items: center;
	text-align: center;
	
}
