body
{
	background-color: #e5ede7;
	justify-content: center;
	align-items: center;
	text-align: center;
}

label
{
	display:inline-block;
	color: #0f111e;
}

input
{
	width: 30%;
	padding: 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
}

input[type="Submit"]:hover
{
	background-color: #b96166;
	color: #b96166;
}
