body
{
	background-color: #1f2747;
	align-items: left;
	text-align: center;
}

input
{
	width: 20%;
	padding: 20px;
	border: 0px solid #ccc;
	border-radius: 1px;
	font-size: 14px;
}

.btn1
{
	 width: 100%;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 14px;
    border: 0px;
    background-color: #0A0F23E6;
    color: white;
    text-align: right;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.btn2
{
	 width: 100%;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 14px;
    border: 0px;
    background-color: #10162DE6;
    color: white;
    text-align: right;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.btn3
{
	 width: 100%;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 14px;
    border: 0px;
    background-color: #161C37E6;
    color: white;
    text-align: right;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.btn4
{
	 width: 100%;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 14px;
    border: 0px;
    background-color: #1C2241E6;
    color: white;
    text-align: right;
	justify-content: center;
	align-items: center;
	text-align: center;

}

input[type="Submit"]:hover
{
	background-color: #b96166;
	color: #b96166;
}
