<html>
    <head>
        <title>URL_FOR</title>
		<link rel="stylesheet" href="/static/custom.css">
    </head>
    <body>
        <form action="{{url_for('CollectInfo')}}">
		<table id="tblinput">
		
		
		
		
				<label id="lblschool" name="lblschool">School</label><br>
	
				<input type="text" id="txtschool" name="txtschool" size="60" required autofocus></input>
				<br>
		

				<label id="lblprgtype" name="lblprgtype">Program Type</label><br>
		
				<input type="text" id="txtprogram" name="txtprogram" size="20" ></input>
				<br>

		<tr>
			<td>
		
				<label id="lblfirstname" name="lblfirstname">First Name</label><br>

				<input type="text" id="txtfname" name="txtfirstname" autofocus></input>
			</td>
		</tr>
				<br>
				<label id="lbllastname" name="lbllastname">Last Name</label><br>

				<input type="text" id="txtlname" name="txtlname" autofocus></input>
	
	
		
		
				<label id="lblbirthdate" name="lblbirthdate">Birth Date</label>

				<input type="text" id="txtbirth" name="txtbirth" autofocus></input>

		
		
		
				<label id="lblpathway" name="lblpathway">pathway</label>

				<input type="text" id="txtpathway" name="txtpathway" autofocus></input>
		
		
		
		
				<label id="lbllastname" name="lbllastname">Last Name</label>

				<input type="text" id="txtlname" name="txtlname" autofocus></input>

			
				<label id="lblSSNITIN" name="lblSSNITIN">SSN/ITIN</label>

				<input type="text" id="txtssn" name="txtssn" autofocus></input>

			
			
		
				<label id="lblosis" name="lblosis">OSIS</label>

				<input type="text" id="txtosis" name="txtosis" autofocus></input>

		
		
		
				<button type="submit" id="btnsubmit" name="btnsubmit">SUBMIT</button>

		
			
			
		</table>
		</form>
    </body>
</html>
