body
{
	background-color: #FFFFF;
	justify-content: center;
	align-items: center;
	text-align: center;
}

label

h1{
	color: white;
	background-color: #FFFFFF;
}

{
	display:inline-block;
	color: black;
	
}

input
{
	width: 20%;
	padding: 20px;
	border: 1px solid black;
	border-radius: 10px;
	font-size: 14px;
}

button:hover
{
	background-color:  #8ec0e7;
	color: #f7fafe;
	
}

button{
	background-color:  #f7fafe;
	font-size: 20px;
	padding: 20px;
	border: 1px solid black;
	border-radius: 10px;
	font-size: 14px;
	
}

.select{
	margin-left: center;
	width: 20%;
	padding: 20px;
	border-radius: 10px;
	font-size: 14px;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #6eaee0;
}

