<html>
    <head>
        <title>Deposit</title>
        <link rel="stylesheet" href="/static/custom.css">
    </head>
    <body>
        <h2>Deposit Cash</h2>

        <form method="POST" action="{{url_for('Deposit')}}">
            <table id="tblinput">
                <div class="square">

              <label name="lblpin">Enter PIN:</label><br>
                    <input type="text" name="txtpin" id="txtpin" required autofocus></input>
                    <br><br>

                   <label name="lblamount">Enter Deposit Amount:</label><br>
                    <input type="number" name="txtamount" id="txtamount" min="1" step="0.01" required></input>
                    <br><br>

                    {% if error %}
                        <label >{{error}}</label><br><br>
                    {% endif %}

                    {% if success %}
                        <label >{{success}}</label><br><br>
                    {% endif %}

                    <button type="submit">Deposit</button>
                    <a href="{{url_for('index')}}"><button type="button">Go Back</button></a>

                </div>
            </table>
        </form>
    </body>
</html>
