<html>
    <head>
        <title>URL_FOR</title>
		<link rel="stylesheet" href="/static/custom.css">
    </head>
    <body>
        <form method='GET' action="{{url_for('Withdraw')}}">
		<table id="tblinput">
			<div class="option">
				
				<a href="{{url_for('Withdraw')}}"><button  class="login1" >Withdraw</button></a>
				
				<br>
				<br>
				<br>
		</table>
		</form>
		<form method='GET' action="{{url_for('Deposit')}}">
		<table id="tblinput2">
				<a href="{{url_for('Deposit')}}"><button >Deposit</button></a>
			
				<br>
				<br>
				<br>
			</div>
		</table>
		</form>
		
		<form method='GET' action="{{url_for('Balance')}}">
		<table id="tblinput3">
				<a href="{{url_for('Balance')}}"><button >View Balance</button></a>
			
				<br>
				<br>
				<br>
			</div>
		</table>
		</form>
		
			</div>
		</table>
		</form>
    </body>
</html>