<html>
    <head>
        <title>URL_FOR</title>
		<link rel="stylesheet" href="/static/custom.css">
    </head>
    <body>
        <form action="{{url_for('CollectInfo')}}">
		<table id="tblinput">
		
		
				<button type="submit" id="btndeposit" name="btndeposit" >Deposit</button>
				
				<br>
				<br>
				<br>
				
				<button type="submit" id="btnwithd" name="btnwithd" >Withdraw</button>
				
				<br>
				<br>
				<br>
				
				<button type="submit" id="btnbalance" name="btnbalance" >View Balance</button>
				
				<br>
				<br>
				<br>
			
			
		</table>
		</form>
    </body>
</html>