<html>
    <head>
        <title>URL_FOR</title>
		<link rel="stylesheet" href="/static/custom.css">
    </head>
    <body>
        <form action="{{url_for('CollectInfo')}}">
		<table id="tblinput">
		
		
		
				<label id="lblpd1" name="lblpd1">pd1</label><br>
				<input type="text" id="txtpd1" name="txtpd1" required autofocus></input><br>
	
		

				<label id="lblpd2" name="lblpd2" >pd2</label><br>
				<input type="text" id="txtpd2" name="txtpd2" required autofocus></input>
				<br>

	
		
				<label id="lblpd3" name="lblpd3">pd3</label><br>

				<input type="text" id="txtpd3" name="txtpd3" required autofocus></input>
		
		
				<br>
			
				<label id="lblpd4" name="lblpd4">Pd4</label><br>

				<input type="text" id="txtpd4" name="txtpd4" required autofocus></input><br>
		
			
			
			<label id="lblpd5" name="lblpd5">pd5</label><br>

			<input type="text" id="txtpd5" name="txtpd5" ></input>
			<br>
	
		
		
				<label id="lblpd6" name="lblpd6">pd6</label><br>

				<input type="text" id="txtpd6" name="txtpd6" required autofocus></input><br>

		
		
				<label id="lblpd7" name="lblpd7">pd7</label><br>
				
				<input type="text" id="txtpd7" name="txtpd7" required autofocus></input> <br>
				

			
				<label id="lblpd8" name="lblpd8">pd8</label><br>

				<input type="text" id="txtpd8" name="txtpd8" autofocus></input><br>

		
				<button type="submit" id="btnsubmit" name="btnsubmit" >SUBMIT</button>
				<button type="reset" id="btnclear" name="btnclear" >clear</button>

			
			
		</table>
		</form>
    </body>
</html>
