body
{
	background-color: #1f2747;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}
.square {
    height: 100px;
    background-color: #14192DD9;
    width: 20%;
	padding: 20px;
	border: 8px solid #0A0F23E6;
	border-radius: 25px;
	font-size: 14px;
	justify-content: center;
	align-items: center;
	text-align: center;
	
	box-shadow: 0 2px 10px #020305;
}

h2
{
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #E3E3E3;
	font-size: 35px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

h1
{

	justify-content: center;
	align-items: center;
	text-align: center;
}

.btn1
{
	 width: 100%;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 14px;
    border: 0px;
    background-color: #0A0F23E6;
    color: white;
    text-align: right;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.btn2
{
	 width: 100%;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 14px;
    border: 0px;
    background-color: #10162DE6;
    color: white;
    text-align: right;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.btn3
{
	 width: 100%;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 14px;
    border: 0px;
    background-color: #161C37E6;
    color: white;
    text-align: right;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.btn4
{
	 width: 100%;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 14px;
    border: 0px;
    background-color: #1C2241E6;
    color: white;
    text-align: right;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.btn5
{
	 width: 100%;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 14px;
    border: 0px;
    background-color: #1C2241E6;
    color: white;
    text-align: right;
	justify-content: center;
	align-items: center;
	text-align: center;

}