body
{
	background-color: #1f2747;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}
.square {
    height: 100px;
    background-color: #14192DD9;
    width: 20%;
	padding: 20px;
	border: 8px solid #0A0F23E6;
	border-radius: 25px;
	font-size: 14px;
	
	box-shadow: 0 2px 10px #020305;
}

h2
{
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #E3E3E3;
	font-size: 35px;
}

h1
{
	justify-content: left;
	align-items: left;
	text-align: left;
}


