<html>
    <head>
        <title>Student Record</title>
        <link rel="stylesheet" href="/static/custom.css">
    </head>
    <body>
        <h1>Student Info</h1>
        
		<table id="table">
            <tr>
                <th>School</th>
                <th>Program</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Middle Initial</th>
                <th>Birth Date</th>
                <th>Pathway</th>
                <th>OSIS</th>
                <th>SSN/ITIN</th>
                <th>Student ID</th>
            </tr>
            <tr>
                <td>{{school}}</td>
                <td>{{program}}</td>
                <td>{{firstname}}</td>
                <td>{{lastname}}</td>
                <td>{{middle}}</td>
                <td>{{birth}}</td>
                <td>{{pathhway}}</td>
                <td>{{osis}}</td>
                <td>{{ssn}}</td>
                <td>{{sid}}</td>
            </tr>
        </table>

        <br>

        <h3>Class Schedule</h3>
        <table id="schedule">
            <tr>
                <th>Period</th>
                <th>class</th>
            </tr>
            <tr><td>Period 1</td><td>{{pd1}}</td></tr>
            <tr><td>Period 2</td><td>{{pd2}}</td></tr>
            <tr><td>Period 3</td><td>{{pd3}}</td></tr>
            <tr><td>Period 4</td><td>{{pd4}}</td></tr>
            <tr><td>Period 5</td><td>{{pd5}}</td></tr>
            <tr><td>Period 6</td><td>{{pd6}}</td></tr>
            <tr><td>Period 7</td><td>{{pd7}}</td></tr>
            <tr><td>Period 8</td><td>{{pd8}}</td></tr>

        </table>
		<br>
		<br>
		<label name="lblfile"> {{infofile}} has been created!</label>
		<br>
		<label name="lblfile"> {{schedfile}} has been created!</label>
		<br>
        <br>
        <a href="{{ url_for('index') }}"><button type="submit">Go Back</button></a>

    </body>
</html>
