body {
    background-color: #1f2747;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


h1 {
    text-align: center;
    margin-bottom: 10px;
}


.square {
	margin-top: 50px;
    background-color: #14192DD9;
    padding: 20px;
    border-radius: 20px;
    width: 280px;
    box-shadow: 0 12px 30px #000000;
}

.square1 {
	margin-top: 50px;
	margin-left: 50px;
    background-color: #14192DD9;
    padding: 20px;
    border-radius: 20px;
    width: 280px;
    box-shadow: 0 12px 30px #000000;
}



h2 {
    text-align: center;
    margin-bottom: 10px;
    
}

h3 {
    text-align: center;
    margin-bottom: 10px;
    
}


#InitialCost {
    width: 100%;
    height: 55px;
    margin-bottom: 15px;
    border-radius: 14px;
    border: 0px;
    background-color: #0A0F23E6;
    color: white;
    font-size: 24px;
    text-align: right;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#TipP {
    width: 100%;
    height: 55px;
    margin-bottom: 15px;
    border-radius: 14px;
    border: 0px;
    background-color: #0A0F23E6;
    color: white;
    text-align: right;
	justify-content: center;
	align-items: center;
	text-align: center;
}


button {
    width: 60px;
    height: 60px;
    margin: 5px;
    border: none;
    border-radius: 16px;
    font-size: 18px;
    color: white;
    background-color: #5A648C8C;
    box-shadow: 0 6px 10px black;
}


button:hover {
    background: #7882B4BF;
}

#AA {
    background-color: #ff8c1a;
    width: 130px;
}

#AB {
    background-color: #ff8c1a;
    width: 130px;
    
}

#Calc {
    background-color: #ff8c1a;
    width: 130px;
}

